<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Muhammad Umar</strong>
              <small>@mohammadumar28</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Muhammad Umar</strong>
              <small>@mohammadumar28</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Muhammad Umar</strong>
              <small>@mohammadumar28</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>


</div>